body {
  font-family: Arial, sans-serif;
}
h1 {
  color: #70757a;
  font-size: 33px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
  color: #70757a;
}
a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.cityName {
  margin-bottom: 20px;
  background-color: transparent;
  padding: 2px;
  border-radius: 4px;
}
#current-temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: -34px;
  font-size: 16px;
}
#current-wind {
  text-transform: none;
}
